In [5]:
import pandas as pd
import xlrd

In [6]:
#dataset from url "https://www.tableau.com/sites/default/files/training/global_superstore.zip"
xls = pd.ExcelFile('/Users/GGS/Downloads/global_superstore/Global Superstore.xls')

In [8]:
xls.sheet_names

['Orders', 'Returns', 'People']

In [9]:
df1=pd.read_excel(xls,"Orders")

In [11]:
df1.shape

(51290, 24)

In [10]:
df1.head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,City,State,...,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,Shipping Cost,Order Priority
0,32298,CA-2012-124891,2012-07-31,2012-07-31,Same Day,RH-19495,Rick Hansen,Consumer,New York City,New York,...,TEC-AC-10003033,Technology,Accessories,Plantronics CS510 - Over-the-Head monaural Wir...,2309.650,7,0.0,762.1845,933.57,Critical
1,26341,IN-2013-77878,2013-02-05,2013-02-07,Second Class,JR-16210,Justin Ritter,Corporate,Wollongong,New South Wales,...,FUR-CH-10003950,Furniture,Chairs,"Novimex Executive Leather Armchair, Black",3709.395,9,0.1,-288.7650,923.63,Critical
2,25330,IN-2013-71249,2013-10-17,2013-10-18,First Class,CR-12730,Craig Reiter,Consumer,Brisbane,Queensland,...,TEC-PH-10004664,Technology,Phones,"Nokia Smart Phone, with Caller ID",5175.171,9,0.1,919.9710,915.49,Medium
3,13524,ES-2013-1579342,2013-01-28,2013-01-30,First Class,KM-16375,Katherine Murray,Home Office,Berlin,Berlin,...,TEC-PH-10004583,Technology,Phones,"Motorola Smart Phone, Cordless",2892.510,5,0.1,-96.5400,910.16,Medium
4,47221,SG-2013-4320,2013-11-05,2013-11-06,Same Day,RH-9495,Rick Hansen,Consumer,Dakar,Dakar,...,TEC-SHA-10000501,Technology,Copiers,"Sharp Wireless Fax, High-Speed",2832.960,8,0.0,311.5200,903.04,Critical

In [12]:
df1.head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,City,State,...,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,Shipping Cost,Order Priority
0,32298,CA-2012-124891,2012-07-31,2012-07-31,Same Day,RH-19495,Rick Hansen,Consumer,New York City,New York,...,TEC-AC-10003033,Technology,Accessories,Plantronics CS510 - Over-the-Head monaural Wir...,2309.650,7,0.0,762.1845,933.57,Critical
1,26341,IN-2013-77878,2013-02-05,2013-02-07,Second Class,JR-16210,Justin Ritter,Corporate,Wollongong,New South Wales,...,FUR-CH-10003950,Furniture,Chairs,"Novimex Executive Leather Armchair, Black",3709.395,9,0.1,-288.7650,923.63,Critical
2,25330,IN-2013-71249,2013-10-17,2013-10-18,First Class,CR-12730,Craig Reiter,Consumer,Brisbane,Queensland,...,TEC-PH-10004664,Technology,Phones,"Nokia Smart Phone, with Caller ID",5175.171,9,0.1,919.9710,915.49,Medium
3,13524,ES-2013-1579342,2013-01-28,2013-01-30,First Class,KM-16375,Katherine Murray,Home Office,Berlin,Berlin,...,TEC-PH-10004583,Technology,Phones,"Motorola Smart Phone, Cordless",2892.510,5,0.1,-96.5400,910.16,Medium
4,47221,SG-2013-4320,2013-11-05,2013-11-06,Same Day,RH-9495,Rick Hansen,Consumer,Dakar,Dakar,...,TEC-SHA-10000501,Technology,Copiers,"Sharp Wireless Fax, High-Speed",2832.960,8,0.0,311.5200,903.04,Critical

In [14]:
df1.dtypes

Row ID                     int64
Order ID                  object
Order Date        datetime64[ns]
Ship Date         datetime64[ns]
Ship Mode                 object
Customer ID               object
Customer Name             object
Segment                   object
City                      object
State                     object
Country                   object
Postal Code              float64
Market                    object
Region                    object
Product ID                object
Category                  object
Sub-Category              object
Product Name              object
Sales                    float64
Quantity                   int64
Discount                 float64
Profit                   float64
Shipping Cost            float64
Order Priority            object
dtype: object

In [15]:
df1.groupby("City")["Sales"].mean()

City
Aachen                   223.714765
Aalen                    979.695000
Aalst                     96.832500
Aba                       42.564960
Abadan                   123.177273
Abakaliki                 17.163000
Abbeville                 72.610000
Abbotsford                98.580000
Abeokuta                  13.344750
Aberdeen                 262.225000
Abha                     200.437500
Abidjan                  213.048947
Abilene                    1.392000
Abreu e Lima             928.256000
Abu Kabir                121.635000
Abuja                     19.008000
Acarigua                 119.772000
Acayucan                  81.099893
Accra                    225.458696
Acerra                   680.655000
Acireale                 129.915600
Acuña                    221.337846
Acámbaro                 136.358667
Ad Diwaniyah             298.761429
Ad Diwem                  98.013750
Adana                     78.837061
Adelaide                 366.434886
Adiyaman                  71.785714
Aewŏl-li                 207.160000
Afragola                  90.549000
                            ...
Zeist                     70.582500
Zenica                   233.760000
Zhangjiakou               68.790000
Zhangzhou                136.320000
Zhanjiang                550.290000
Zhaoqing                 760.380000
Zhaoyuan                 157.965000
Zhengzhou                191.320909
Zhenjiang                502.845000
Zhlobin                    9.600000
Zhongxiang               560.900000
Zhoukou                  247.125000
Zhuhai                   177.979412
Zhumadian                172.987500
Zhuzhou                  395.910000
Zhytomyr                 448.101000
Zielona Gora             125.760000
Zigong                   370.207500
Ziguinchor               154.357500
Zihuatanejo               89.539333
Zilina                    30.060000
Zinder                    90.682500
Zlatoust                 231.720000
Zunyi                    312.000000
Zurich                   368.547931
Zwedru                    49.410000
Zwickau                   33.010000
Zwolle                    75.292500
eMbalenhle                37.950000
Águas Lindas de Goiás     46.740000
Name: Sales, Length: 3636, dtype: float64

In [16]:
df1["Category"].unique()

array(['Technology', 'Furniture', 'Office Supplies'], dtype=object)

In [18]:
df1["Segment"].describe()

count        51290
unique           3
top       Consumer
freq         26518
Name: Segment, dtype: object

In [19]:
df1.columns

Index(['Row ID', 'Order ID', 'Order Date', 'Ship Date', 'Ship Mode',
       'Customer ID', 'Customer Name', 'Segment', 'City', 'State', 'Country',
       'Postal Code', 'Market', 'Region', 'Product ID', 'Category',
       'Sub-Category', 'Product Name', 'Sales', 'Quantity', 'Discount',
       'Profit', 'Shipping Cost', 'Order Priority'],
      dtype='object')

In [21]:
df1[df1["Segment"]=="Consumer"].head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,City,State,...,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,Shipping Cost,Order Priority
0,32298,CA-2012-124891,2012-07-31,2012-07-31,Same Day,RH-19495,Rick Hansen,Consumer,New York City,New York,...,TEC-AC-10003033,Technology,Accessories,Plantronics CS510 - Over-the-Head monaural Wir...,2309.650,7,0.0,762.1845,933.57,Critical
2,25330,IN-2013-71249,2013-10-17,2013-10-18,First Class,CR-12730,Craig Reiter,Consumer,Brisbane,Queensland,...,TEC-PH-10004664,Technology,Phones,"Nokia Smart Phone, with Caller ID",5175.171,9,0.1,919.9710,915.49,Medium
4,47221,SG-2013-4320,2013-11-05,2013-11-06,Same Day,RH-9495,Rick Hansen,Consumer,Dakar,Dakar,...,TEC-SHA-10000501,Technology,Copiers,"Sharp Wireless Fax, High-Speed",2832.960,8,0.0,311.5200,903.04,Critical
6,30570,IN-2011-81826,2011-11-07,2011-11-09,First Class,TS-21340,Toby Swindell,Consumer,Porirua,Wellington,...,FUR-CH-10004050,Furniture,Chairs,"Novimex Executive Leather Armchair, Adjustable",1822.080,4,0.0,564.8400,894.77,Critical
7,31192,IN-2012-86369,2012-04-14,2012-04-18,Standard Class,MB-18085,Mick Brown,Consumer,Hamilton,Waikato,...,FUR-TA-10002958,Furniture,Tables,"Chromcraft Conference Table, Fully Assembled",5244.840,6,0.0,996.4800,878.38,High

In [26]:
df1[(df1["Segment"]=="Consumer") & (df1["State"]=="New York")].head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,City,State,...,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,Shipping Cost,Order Priority
0,32298,CA-2012-124891,2012-07-31,2012-07-31,Same Day,RH-19495,Rick Hansen,Consumer,New York City,New York,...,TEC-AC-10003033,Technology,Accessories,Plantronics CS510 - Over-the-Head monaural Wir...,2309.650,7,0.0,762.1845,933.57,Critical
36,36423,CA-2011-160766,2011-09-14,2011-09-14,Same Day,DM-13015,Darrin Martin,Consumer,New York City,New York,...,TEC-MA-10003979,Technology,Machines,Ativa V4110MDD Micro-Cut Shredder,2799.960,4,0.0,1371.9804,675.15,High
50,40046,US-2012-163825,2012-06-16,2012-06-19,First Class,LC-16885,Lena Creighton,Consumer,New York City,New York,...,OFF-BI-10003527,Office Supplies,Binders,Fellowes PB500 Electric Punch Plastic Comb Bin...,3050.376,3,0.2,1143.8910,632.05,High
121,37923,CA-2011-145541,2011-12-14,2011-12-21,Standard Class,TB-21400,Tom Boeckenhauer,Consumer,New York City,New York,...,TEC-MA-10001127,Technology,Machines,HP Designjet T520 Inkjet Large Format Printer ...,6999.960,4,0.0,2239.9872,499.55,Medium
147,32998,CA-2012-114069,2012-07-13,2012-07-15,Second Class,ND-18370,Natalie DeCherney,Consumer,New York City,New York,...,FUR-CH-10000595,Furniture,Chairs,Safco Contoured Stacking Chairs,1931.040,9,0.1,321.8400,477.15,Critical

In [27]:
df1.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
Row ID,51290.0,25645.500000,14806.291990,1.000,12823.250000,25645.500,38467.7500,51290.000
Postal Code,9994.0,55190.379428,32063.693350,1040.000,23223.000000,56430.500,90008.0000,99301.000
Sales,51290.0,246.490581,487.565361,0.444,30.758625,85.053,251.0532,22638.480
Quantity,51290.0,3.476545,2.278766,1.000,2.000000,3.000,5.0000,14.000
Discount,51290.0,0.142908,0.212280,0.000,0.000000,0.000,0.2000,0.850
Profit,51290.0,28.610982,174.340972,-6599.978,0.000000,9.240,36.8100,8399.976
Shipping Cost,51290.0,26.375818,57.296810,0.002,2.610000,7.790,24.4500,933.570

In [28]:
df1.isnull().sum()

Row ID                0
Order ID              0
Order Date            0
Ship Date             0
Ship Mode             0
Customer ID           0
Customer Name         0
Segment               0
City                  0
State                 0
Country               0
Postal Code       41296
Market                0
Region                0
Product ID            0
Category              0
Sub-Category          0
Product Name          0
Sales                 0
Quantity              0
Discount              0
Profit                0
Shipping Cost         0
Order Priority        0
dtype: int64

In [29]:
df1["Postal Code"].mode()

0    10035.0
dtype: float64

In [30]:
df1["Postal Code"].head()

0    10024.0
1        NaN
2        NaN
3        NaN
4        NaN
Name: Postal Code, dtype: float64

In [31]:
df1["Sales"].mean()

246.49058120257362

In [32]:
df1["Sales"].median()

85.053

In [33]:
df1["Order Priority"].describe()

count      51290
unique         4
top       Medium
freq       29433
Name: Order Priority, dtype: object

In [34]:
df1["Order Priority"].unique()

array(['Critical', 'Medium', 'High', 'Low'], dtype=object)